@media (max-width: 575px) {
    .peopleFilter-wrapper {
        width: 80%;
        position: relative;
        left: 50%;
        margin-left: -40%;
        top: 10px;
    }
    .peopleFilter {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .peopleFilter-wrapper {
        width: 80%;
        position: relative;
        left: 50%;
        margin-left: -40%;
        top: 10px;
    }
    .peopleFilter {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .peopleFilter-wrapper {
        width: 40%;
        position: relative;
        left: 50%;
        margin-left: -20%;
        top: 10px;
    }
    .peopleFilter {
        font-size: 1.2rem;
    }
}

.peopleFilter {
    height: 42px;
    transition: 0.5s;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
}

.peopleFilter:focus {
    outline: 0;
    border: 2px solid #2e82f4;
}
